.vscode/**
.vscode-test/**
.codacy/**
.github/**
.eslintrc.js
gen-icon.js
images/*.js
src/**
test/**
bridges/**
docs/**
out/test/**
**/*.ts
**/*.map
.gitignore
tsconfig.json
SETUP.md
JobLine_SETUP.md
*.code-workspace
node_modules/**
